@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --background-color: #fbfbfbfb;
    --green-background-color: #153e52;
    --dark-green-color: #113448;
    --light-green-color: #14bf98;
    --dark-grey-color: #484a46;
    --light-grey-color: #787976;
    --white-color : #ffffff ;
    --disabled-color : #e9ecef;
    --disabled-color-2 : #c1cace;
    --dark-white: #d9e2ec ; 
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

h1,h2,h3,h4,h5,h6,span,button,input,textarea,select,option{
    font-family: 'sans-serif' ;
}