@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --background-color: #fbfbfbfb;
    --green-background-color: #153e52;
    --dark-green-color: #113448;
    --light-green-color: #14bf98;
    --dark-grey-color: #484a46;
    --light-grey-color: #787976;
    --white-color : #ffffff ;
    --disabled-color : #e9ecef;
    --disabled-color-2 : #c1cace;
    --dark-white: #d9e2ec ; 
    --border-color: #ebe8e8 ;
    --form-input-background-color : #2a5d77;
    --form-input-border-color : #39728f;
    

    --image-contrast: 60%;
    --image-grayscale: 20%;
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,span,button,input,textarea,select,option{
    font-family: 'sans-serif' ;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    border: 2px solid var(--light-green-color);
    text-transform: uppercase;
    color: var(--white-color);
    padding: 1rem 3rem;
    border-radius: 5px;
    background-color: var(--light-green-color);
    transition: all 0.125s ease-in-out;
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 0.3ch;
}

button:hover{
    background-color: transparent;
    color: var(--light-green-color);
}

.italic {
    font-style: italic;
}

.underline{
    text-decoration: underline;
    cursor: pointer;
}

.green{
    color: var(--light-green-color);
}

/* Navbar Section Start */
nav .mobile-menu{
    display: none;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.navbar nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0.75rem 3rem;
    align-items: center;
    box-sizing: border-box;
    color: var(--white-color);
    /* backdrop-filter: blur(10px) grayscale(var(--image-grayscale)) contrast(var(--image-contrast)); */
    background-color: var(--dark-green-color);
}

nav a{
    text-decoration: none;
    color: var(--white-color);
    transition: color 0.125s ease-in-out;
}

nav a:visited{
    color: var(--white-color);
}

nav a:hover{
    color: var(--light-green-color);
}

nav img {
    height: 4rem;
    
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

nav ul .icon{
    background-color: var(--light-green-color);
    padding: 0.5rem;
    clip-path: polygon(100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%, 25% 6.7%, 75% 6.7%);
}

nav ul .icon:hover {
    background-color: var(--white-color);
}

/* Navbar Section End */

/* Mobile Menu Start */
.mobile-menu-list{
    background-color: var(--dark-green-color);
    z-index: 999;
}

.mobile-menu-list ul{
    list-style: none;
    line-height: 2.2rem;
    font-size: 1.3rem;
}

.mobile-menu-list a{
    text-decoration: none;
    color: var(--white-color);
    transition: color 0.125s ease-in-out;
    text-transform: uppercase;
}

.mobile-menu-list a:visited{
    color: var(--white-color);
}

.mobile-menu-list a:hover{
    color: var(--light-green-color);
}

/* Mobile Menu End */

/* Home Section Start */
.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../assests/images/home-background.jpg);
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--white-color);
    gap: 1.5rem;
    position: relative;
    top: 88px;
}

.home h1{
    text-transform: uppercase;
    font-size: 3rem;
}

.home p {
    font-size: 1.5rem;
    width: 50%;
}
/* Home Section End */


/* Intro Section Start */
.intro{
    padding: 7rem 20vw 1rem;
    background-color: var(--white-color);
}

.intro .content{
    display: flex;
    flex-direction:row ;
    gap: 1rem;
}

.intro .content .text{
    width: 40%;
    flex-shrink: 0;
    padding-right: 3rem ;
    padding-top: 2rem;
}

.intro .content .text h3{
    font-size: 2rem;
    color: var(--dark-grey-color);
}

.intro .content .text p{
    color: var(--light-grey-color);
    font-size: 16px;
    line-height: 1.5rem;
}

.intro .content .text h4{
    color: var(--dark-grey-color);
    line-height: 2rem;
    font-weight: 800;
}
 
.intro .content .image-container{
    width: 60%;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 5px;
    filter: grayscale(25%);
    cursor: pointer;
}

.intro .content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
   transition: transform 0.4s ease-in-out;
}

.intro .content img:hover{
     transform: scale(1.5);
     background-position: center;
}

.section-title {
    color: var(--light-green-color);
    text-transform: uppercase;
    padding: 1px;
}

.intro .skills{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 5rem;
}

.intro .skills .skills-item{
    width: 30%;
    line-height: 1.4rem;
}

.intro .skills .skills-item h4{
    font-size: 1.5rem;
    color: var(--dark-grey-color);
}
.intro .skills .skills-item p{
    color: var(--light-grey-color);
}

.intro .skills .skills-item .skill-icon{
    display: inline-block;
    color: var(--white-color);
    background-color: var(--light-green-color);
    padding: 2rem;
    clip-path: polygon(100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%, 25% 6.7%, 75% 6.7%);
    border-radius: 5px;
    margin-bottom: 1rem;
}

.intro .skills .skills-item i
{
    font-size: 2.2rem;
}
/* Intro Section End */


/* services Section Start */
.services{
    padding: 5rem 0;
    background-color: var();
}

.services > span{
    display: block;
    text-align: center;
}

.services > h3{
    text-align: center;
    font-size: 1.75rem;
    color: var(--dark-grey-color)
}

.services .service-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 3rem 19vw 6rem;
}

.services .service-container .service-item{
    width: 31%;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
}

.services .service-item img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    object-position: center;
    filter: grayscale(var(--image-grayscale)) contrast(var(--image-contrast));
    border-radius: 5px 5px 0 0;
}

.services .service-item h3{
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-grey-color);
    padding: 0.5rem 2rem;
}

.services .service-item p{
    line-height: 1.5rem;
    color: var(--light-grey-color);
    padding: 0.5rem 2rem;
}

.services .service-item ul {
    line-height: 1.5rem;
    color: var(--light-grey-color);
    padding: 0.5rem 2rem;
    list-style: none;
}

.services .service-item ul li::before{
    content: '\25a0';
    margin-right: 5px;
    font-size: 1.1rem ;
    color: var(--light-green-color);
}

.services .service-item h5{
    font-size: 1.3rem;
    color: var(--dark-grey-color);
    text-align: center;
    padding: 0.7rem 2rem;
}

.services .service-item button{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50% , 50%);
    
}

.services .service-item button:hover{
    background-color: var(--background-color);
}

.services .service-detail-container{
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
}

.service-detail-container img{
    width: 50%;
    filter: grayscale(var(--image-grayscale)) contrast(var(--image-contrast));
    /* height: 35rem; */
    object-fit: cover;
    object-position: center;
}

.service-detail-container .service-content{
    width: 50%;
    flex-shrink: 0;
    box-sizing: border-box;
}

.services .service-detail-container:nth-child(even) .service-content{
    padding: 6rem 16vw 8rem 6rem;
} 

.services .service-detail-container:nth-child(odd) .service-content{
    padding: 7rem 5rem 8rem 13vw;

} 

.services .service-detail-container .service-content h3{
    color: var(--dark-grey-color);
    font-size: 1.5rem;
}

.services .service-detail-container .service-content p{
    color: var(--light-grey-color);
    font-size: 1rem;
    line-height: 1.5rem;
}

.services .service-detail-container-1 .service-content p{
    padding-left: 2.2rem;
}
.services .service-detail-container-1  h4{
    color: var(--dark-grey-color);
    cursor: pointer;
    font-size: 1.5rem;
}

.services .service-detail-container-1 .order{
    border: 2px solid var(--dark-grey-color);
    border-radius: 50%;
    padding: 0 0.5rem;
    margin-right: 5px;
    transition: all 0.125s ease-in-out;
}

.services .service-detail-container-1 h4:hover .order {
    border: 2px solid var(--light-green-color);
}

.services .service-detail-container-1 h4.active .order{
    border: 2px solid var(--light-green-color);
    background-color: var(--light-green-color);
    color: var(--white-color);
    border: none;
}

.services .service-detail-container-1  h4:not(.active):hover , .services .service-detail-container-1  h4.active{
    color: var(--light-green-color);
    border: var(--light-green-color);
}

.services .service-detail-container-2 .skill-list-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    
}
.services .service-detail-container-2 .skill-item h6{
    color: var(--dark-grey-color);
    font-size: 1rem;
}

.services .service-detail-container-2 .skill-item .progress-bar
{
    height: 1.5rem;
    background-color: var(--light-green-color);
    margin-top: 0.5rem;
    border-radius: 5px;
}

.services .service-detail-container-2 .skill-item .progress-bar.p-100{
    width: 100%;
}

.services .service-detail-container-2 .skill-item .progress-bar.p-76{
    width: 76%;
}

.services .service-detail-container-2 .skill-item .progress-bar.p-90{
    width: 90%;
}

.services .service-detail-container-2 .service-category-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.service-detail-container-2 .service-category-container .category-item h3{
    color: var(--border-color);
} 

.service-detail-container-2 .service-category-container .category-item.active h3 , .service-detail-container-2 .service-category-container .category-item:hover h3  {
    color: var(--light-green-color);
    transition: all 0.125s ease-in-out;
    cursor: pointer;
}

.service-detail-container-2 .service-content-list-2{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    color: var(--dark-grey-color);
    margin-top: 1rem;
}
.service-detail-container-2 .service-content-list-2 .service-content-item{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.service-detail-container-2 .service-content-list-2 .service-content-item .content{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.service-detail-container-2 .service-content-list-2 .service-content-item .content span{
    font-size: 2rem;
    font-weight: 800;
    color: var(--light-green-color);
}

.service-detail-container-2 .service-content-list-2 .service-content-item .content p{
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.service-detail-container-2 .service-content-list-2 .service-content-item .content p strong{
    color: var(--dark-grey-color);
}

.service-detail-container-2 .service-content .service-content-3 p {
  font-size: 1.1rem;
  line-height: 1.75rem;
}

.service-detail-container-2 .service-content .service-content-3 p strong{
    color: var(--dark-grey-color);
}

.service-detail-container-2 .service-content .service-content-3 ul{
    padding-left: 0;
    list-style: none;
    line-height: 2rem;
    
    color: var(--light-grey-color);
}

.service-detail-container-2 .service-content .service-content-3 ul li::before{
    content: '\25a0';
    margin-right: 10px;
    font-size: 1.1rem ;
    color: var(--light-green-color);
}


.services .testimonial-container{
    padding: 5rem 20vw 0rem;
}

.services .testimonial-container h2{
    text-align: center;
    color: var(--dark-grey-color);
}

.services .testimonial-container p{
    text-align: center;
    color: var(--light-grey-color);
}

.services .testimonial-list-container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    /* overflow-x: scroll; */
    padding: 1.5rem 1rem;
}

.services .testimonial-item{
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services .testimonial-item img{
    width: 7rem;
    border-radius: 50%;
}

.services .testimonial-item p{
    line-height: 1.5rem;
}

.services .testimonial-item h4{
    color: var(--dark-grey-color);
    text-align: center;
}

.services .testimonial-container .testimonial-list-container{
    position: relative;
}

/* Next & previous buttons */
.services .testimonial-container .testimonial-list-container .prev, .services .testimonial-container .testimonial-list-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .services .testimonial-container .testimonial-list-container .next{
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .testimonial-item div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* services Section End */

/* Call_me Section Start */
.call_me{
    padding: 5rem 17vw;
    background-color: var(--green-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.call_me .call_me-content , .call_me .call_me-form{
    width: 45%;
    flex-grow: 0;
    flex-shrink: 0;
    color: var(--white-color);
}

.call_me .call_me-content h3{
    font-size: 1.75rem;
}

.call_me .call_me-content p{
    line-height: 1.5rem;
    color: var(--border-color);
}

.call_me .call_me-content ul{
    list-style: none;
    padding: 0;
    line-height: 1.75rem;
    color: var(--border-color);
}

.call_me .call_me-content ul li::before{
    content: '\25a0';
    margin-right: 5px;
    font-size: 1.1rem ;
    color: var(--light-green-color);
    padding-right: 5px;
}

.call_me-form form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.call_me-form .terms{
    color: var(--border-color);
}

.call_me-form form input::placeholder{
    color: var(--white-color);
}

.call_me-form form input , .call_me-form form select{
    background-color: var(--form-input-background-color);
    color: var(--white-color);
    border: 1px solid var(--form-input-border-color);
    padding: 1rem 1.1rem;
    border-radius: 5px;
}
/* Call_me Section End */


/* Projects Section Start */
.projects{
    padding: 5rem 18vw;
    background-color: var(--white-color);
}

.projects > span , .projects > h2{
    text-align: center;
    display: block;
}

.projects > h2{
    color: var(--dark-grey-color);
    font-size: 1.75rem;
}

.projects .project-list-container ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0 1rem;
    list-style: none;
}

.projects .project-list-container ul button{
    background-color: var(--border-color);
    color: var(--dark-grey-color);
    border: 1px solid transparent;
    font-size: 0.6rem;
    padding: 0.65rem 3rem;
}

.projects .project-list-container ul button:hover , .projects .project-list-container ul button.active{
    background-color: var(--light-green-color);
    color: var(--white-color);
}


.projects .project-list-content{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4 ,1fr);
    margin-bottom: 5rem;
}

.projects .project-list-content .project-list-item .project-item{
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    
}

.projects .project-list-content .project-list-item h3{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: var(--white-color);
    width: 100%;
    transform: translate(-50%, -50%);
    transition: opacity 0.125s ease-in-out;
    font-size: 1.5rem;
    opacity: 0;
}

.projects .project-list-content .project-list-item{
    position: relative;
    overflow: hidden;
}

.projects .project-list-content .project-item:hover{
    filter: contrast(var(--image-contrast))  grayscale(var(--image-grayscale));
    transform: scale(1.5);
}

.projects .project-list-content .project-item:hover ~ h3 , .projects .project-list-content .project-item ~ h3:hover{
    
    opacity: 1;
}

.projects .project-list-item .project-item.image-1{
    background-image: url("../assests/images/project-1.jpg");
}
.projects .project-list-item .project-item.image-2{
    background-image: url("../assests/images/project-2.jpg");
}
.projects .project-list-item .project-item.image-3{
    background-image: url("../assests/images/project-3.jpg");
}
.projects .project-list-item .project-item.image-4{
    background-image: url("../assests/images/project-4.jpg");
}
.projects .project-list-item .project-item.image-5{
    background-image: url("../assests/images/project-5.jpg");
}
.projects .project-list-item .project-item.image-6{
    background-image: url("../assests/images/project-6.jpg");
}
.projects .project-list-item .project-item.image-7{
    background-image: url("../assests/images/project-7.jpg");
}
.projects .project-list-item .project-item.image-8{
    background-image: url("../assests/images/project-8.jpg");
}
/* Projects Section End */


/* Team Section Start */
.team{
    background-color: var(--background-color);
    padding: 2rem 20vw;
}

.team > h3{
    text-align: center;
    color: var(--dark-grey-color);
    font-size: 1.75rem;
}

.team p {
    text-align: center;
    color: var(--light-grey-color);
    line-height: 1.5rem;
    font-size: 1.1rem;
}

.team-member-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.team .team-member-container .team-member-item{
    width: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team .team-member-item .team-img {
    width: 100%;
    clip-path:  polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    margin-bottom: 1rem;
    overflow: hidden;
}

.team .team-member-item .team-img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.25s ease-in-out ;
}

.team .team-member-item .team-img img:hover{
    transform: scale(1.25);
}

.team .team-member-item h4{
    color: var(--dark-grey-color);
    font-size: 1.20rem;
}
.team .team-member-item p{
    line-height: 0;
}

.team .team-member-item .social-media-link{
    margin-top: 1rem;
}

.team .team-member-item .icon{
    color: var(--white-color);
    background-color: var(--light-green-color);
    padding: 0.5rem;
    clip-path: polygon(100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%, 25% 6.7%, 75% 6.7%);
    transition: all 0.125s ease-in-out;
}

.team .team-member-item  .icon:hover {
    background-color: var(--white-color);
    color: var(--light-green-color);
}
/* Team Section End */


/* About Section End */

.about{
    display: flex;
    flex-direction: row;
    padding: 5rem 15vw;
}

.about > img{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 5px;
    filter: contrast(var(--image-contrast)) grayscale(var(--image-grayscale));
}

.about .about-content{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 5rem;
    box-sizing: border-box;
}

.about .about-content h3{
    font-size: 1.75rem;
    color: var(--dark-grey-color);
    padding-top: 1rem;
}

.about .about-content p{
    line-height: 1.5rem;
    color: var(--light-grey-color);
}

.about .about-content ul {
    list-style: none;
    color: var(--light-grey-color);
    padding: 0;
    line-height: 1.5rem;
}

.about .about-content ul li::before{
    content: '\25a0';
    margin-right: 5px;
    font-size: 1.1rem ;
    color: var(--light-green-color);
    padding-right: 5px;
}

.about .about-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about .about-list-container .about-list-content{
    display: flex;
    flex-direction: row;
    width: 30%;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    gap: 10px;
}

.about .about-content .number{
    color: var(--light-green-color);
    font-size: 3.1rem;
    font-weight: 600;
}

/* About Section End */


/* Contact Section Start */

.contact{
    background-color: var(--white-color);
    padding: 5rem 16vw;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.contact .content , .contact form{
    flex-grow: 0;
    flex-shrink: 0;
    width: 45%;
}

.contact .content h3{
    font-size: 1.75rem;
    color: var(--dark-grey-color);
}
.contact .content h4{
    font-size: 1.5rem;
    color: var(--dark-grey-color);
}

.contact .content p{
    line-height: 1.5rem;
    color: var(--light-grey-color);
}

.contact .content p i{
    margin: 0 0.5rem;
    color: var(--light-green-color);
}

.contact .contact-info-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.contact-info-list-container .contact-info-item p
{
    margin: 0;
}

.contact .content .social-links-list-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}


.contact .content .social-links-item i{
    font-size: 20px;
}

.contact .content .social-links-item{
    color: var(--white-color);
    background-color: var(--light-green-color);
    padding: 1rem;
    clip-path: polygon(100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%, 25% 6.7%, 75% 6.7%);
    transition: all 0.125s ease-in-out;
}

.contact .content .social-links-item:hover {
    background-color: var(--white-color);
    color: var(--light-green-color);
}

.contact .form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.contact .form form input , .contact .form form textarea {
    padding: 1rem;
    border-radius: 5px;
    border:  1px solid var(--light-grey-color);
    color: var(--dark-grey-color);
    /* outline: 1px solid var(--dark-grey-color); */
}

.contact form label{
    color: var(--light-grey-color);
    padding-left: 5px;

}
/* Contact Section End */

/* Footer Section Start */
footer{
    padding: 5rem 16vw 2rem;
    background-color: var(--dark-green-color);
    color: var(--dark-white);
}

footer .footer-list-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}

footer .footer-list-container .footer-list-item.wider{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

footer .footer-list-container .footer-list-item{
    width: 16%;
    flex-grow: 0;
    flex-shrink: 0;

}

footer .footer-list-container .footer-list-item h4{
    color: var(--white-color);
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

footer .footer-list-container p{
line-height: 1.5rem;
margin-top: 0;
}

footer a , footer a:visited{
    color: var(--dark-white);
    line-height: 2rem;
}

footer .copyright{
    padding-top: 3rem;
    text-align: center;
}

/* Footer Section End */

/* Back to top */

#back-to-top{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 20px;

    border-radius: 50%;
}


#back-to-top:hover{
    box-shadow: 0px 0px 10px black;
}

#back-to-top img{
    height: 40px;
    width: 40px;
}

/* Back to top */

@media screen  and (max-width:1100px) and  (min-width:800px) {
    .services .service-detail-container:nth-child(even) .service-content {
        padding: 3rem 5vw 3rem 3rem;
    }

    .services .service-detail-container:nth-child(odd) .service-content {
        padding: 3rem 5rem 3rem 5vw;
    }
    
}

@media screen and (min-width:1000px) {
    .mobile-menu-list{
        display: none;
    }
}


@media screen and (max-width:1000px ) {
    nav ul{
        display: none;
    }

    nav .mobile-menu{
        display: block;
    }

    .mobile-menu-list{
        display: none;
        padding: 0.1rem ;
    }
    .show{
        display: block;
    }

    .home{
      
    }

    .intro {
        padding: 5rem 7vw;
    }

    .intro .content{
        flex-wrap: wrap;
    }

    .intro .content .text , .intro .content .image-container{
        width: 100%;
        /* padding: 0; */
    }

    .intro .skills{
        flex-direction: column;
        align-items: center;
    }

    .intro .skills .skills-item{
        width: 100%;
        text-align: center;
    }

    .team{
        padding: 2rem 5rem;
    }

    .team-member-container {
        display: flex;
        align-items: center;
        padding: 3rem 0;
        flex-wrap: wrap;
        gap: 4rem;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .team .team-member-container .team-member-item {
        width: 40%;
    }
}

@media screen and (max-width:950px) {
    .services .service-container{
        flex-direction: column;
        padding: 5rem 7vw;
    }

    .services .service-container .service-item{
        width: 100%;
        margin-bottom: 4rem;
    }

    .services .testimonial-container{
        padding: 5rem 7vw;
    }

    .about{
        flex-direction: column;
        padding: 4rem 7vw;
        gap: 3rem;
    }

    .about >img , .about .about-content{
        width: 100%;
        padding-left: 0;
    }
}

@media screen and (max-width: 900px) {
    .projects .project-list-container ul {
        flex-wrap: wrap;
    }

    .call_me {
        padding: 4rem 9vw;
    }
}

@media screen and (max-width: 825px) {
    nav {
        position: sticky;
        top: 0;
    }

    footer .footer-list-container {
        flex-direction: column;
    }
    footer .footer-list-container p {
        text-align: center;
    }
    
    footer .footer-list-container .footer-list-item  {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    footer .footer-list-container .footer-list-item.wider {
        width: 100%;
    }
}

@media screen and (max-width: 800px)  {
    .contact{
        flex-direction: column;
        padding: 4rem 7vw;
    }
    .contact .content, .contact form{
        width: 100%;
    }
    .contact .content .social-links-list-container {
        justify-content: space-around;
    }

    .services .service-detail-container {
        flex-direction: column;
    }
    .services .service-detail-container-2 {
        flex-direction: column-reverse;
    }

    .service-detail-container img {
        width: 100%;
    }

    .service-detail-container .service-content {
        width: 100%;
    }

    .services .service-detail-container:nth-child(even) .service-content {
        padding: 4rem 8vw 5rem 4rem;
    }

    .services .service-detail-container:nth-child(odd) .service-content {
        padding: 4rem 8vw 3rem 4rem;
    }

    .projects {
        padding: 4rem 8vw 0;
    }

    .projects .project-list-content {
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(2,1fr);
    }
   
}

@media screen and (max-width: 700px)  {
    .call_me{
        padding: 5rem 7vw;
        flex-direction: column;
        gap: 3rem;
    }

    .call_me .call_me-content, .call_me .call_me-form {
        width: 100%;
    }   

  
    
}

@media screen and ( max-width:600px) {
    .team-member-container {
        display: flex;
        align-items: center;
        padding: 3rem 0;
        flex-wrap: wrap;
        gap: 4rem;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .team .team-member-container .team-member-item {
        width: 50%;
    }
}

@media screen and ( max-width:500px) {
    .services .testimonial-item {
        width: 100%;
    }
}



@media screen and (max-width: 450px)  {
    .about .about-list-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .about-list-container .about-list-content {
        width: auto;
    }
}